<h1><%= @game.current_player.name %>'s turn</h1>

<%= @game.player_1.name %> vs. <%= @game.player_2.name %>

<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP

<a href="/attack">Attack</a>
